/*GLOBAL SECTION */
 * {
     font-size: 16px;
     font-family: 'Kumbh Sans', sans-serif;
 }

 html {
     max-height: 300rem;
 }



/*NAV BAR SECTION */

header {
    display: flex;
    border-bottom: 0.1rem solid hsl(219, 9%, 45%);
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoImage {
    display: flex;
}

nav {
    display: grid;
    width: 100%;
    height: 10%;
    align-items: center;
    grid-template-columns: 3fr 1fr;
}

nav button {
    background-color: white;
    border: none;
    color: hsl(220, 14%, 75%);
}

nav li {
    list-style-type: none;
}

.navBarLeftList {
    display: flex;
    grid-column: 1 / 1;
    height: 100%;
    align-items: center;
}

.navBarLeftList li {
    display: flex;
    height: 100%;
}

.navBarLeftList button:hover {
    border-bottom: 0.2rem solid orange;
    color: black;
    transition: 0.1s;
}

.navBarRightList {
    display: flex;
    grid-column: 2 / 2;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}


.avatarImage {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.avatarImage:hover {
    border: 0.2rem solid hsl(26, 100%, 55%);
    transition: 0.1s;
}


/* MAIN SECTION */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 60rem;
    height: max-content;
}

/* MAIN LEFT SECTION */

.leftContainerOuter {
    grid-column: 1 / 1;
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.leftContainerInner {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    flex-wrap: wrap;
    justify-items: center;
}

.mainImageContainer {
    display: flex;
    grid-area: 1 / 2 / 1 / span 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainImage {
    max-height: 23rem;
    max-width: 23rem;
    border-radius: 1rem;
}

.leftContainerList {
    display: flex;
    flex-direction: row;
    grid-area: 2 / 2 / 2 / span 2;
    padding: 0;
    align-items: center;
    max-width: 25rem;
}

.leftContainerList label {
    display: flex;
    justify-content: center;
}

.leftContainerList [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.leftContainerList [type=radio] + img {
    cursor: pointer;
}

.leftContainerList img {
    max-width: 70%;
    max-height: 70%;
    display: flex;
    border-radius: 0.4rem;
}


.leftContainerList [type=radio]:checked + img {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.5;
}

/*MAIN RIGHT SECTION */

.rightOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightInnerContainer {
    height: 70%;
    width: 70%;
}

.rightInnerContainer h1 {
    font-size: 2.5rem;
}

.rightInnerContainer p {
    color:hsl(219, 9%, 45%);
    line-height: 1.5rem;
}

.priceValuesContainer {
    display: flex;
    align-items: center;
    width: 30%;
    height: fit-content;
    justify-content: space-between;
}

.rightInnerContainer h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 0;
}

.rightInnerContainer h3 {
    color: hsl(26, 100%, 55%);
    font-size: 0.9rem;
}

#rightH3 {
    background-color: hsl(25, 100%, 94%);
    width: fit-content;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    margin: 0;
}

.rightInnerContainer h4 {
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}

.priceContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
}

.priceContainerNumber {
    grid-column: 1 / 1;
    display: flex;
    background-color: hsl(223, 64%, 98%);
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}
.priceContainerNumber button {
    border: none;
    background-color: hsl(223, 64%, 98%);
}




/* LIGHT BOX SECTION */

.lightBoxGallery {
    display: none;
}













/* ATTRIBUTES SECTION */

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}
